<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Document</title>
</head>
<body>
    <h2>Editer un profil</h2>
    
    <form action="/users/<%=text.id%>?_method=PUT" method="POST">

        <label for="name">Nom</label>
        <input type="text" id="name" name="name" autocomplete="off" value=<%= text.name %>>
        
        <label for="country">Pays</label>
        <input type="text" id="country" name="country" autocomplete="off" value=<%= text.country %>>

        <button type="submit">Modifier</button>
    </form>
</body>
</html>