<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Todolist</title>
    <script src="https://kit.fontawesome.com/e53f4fb6f8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="mainContainer">
        <h1 class="title">Todolist</h1>
    
        <form action="/" method="POST" class="addTask">
            <label for="task" class="addTask__label">Tâche</label>
            <input type="text" id="task" name="task" autocomplete="off">
            
            <button type="submit" class="addTask__submit">Ajouter</button>
        </form>
    
        <main class="listContainer">
            <div class="icones">
                <i class="fa-solid fa-caret-up" style="display: none;"></i>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <ul id="listusers" class="list"></ul>
        </main>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>
