*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    cursor: default;
}

h1,h2{
    margin:1rem 0;
}

.title {
    text-align: center;
}

.addTask {
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 15px;
}

button {
    border: none;
}

.submit {
   color: green;
}

.fa-solid {
    font-size: 15px;
}

.list {
    border-collapse: collapse;
    margin: 50px 0;
}

.list, th:not(.date), td {
    border: 1px solid #000;
}

tbody tr:hover {
    background-color: rgb(200, 150, 50, .25);
}

th, td {
    padding: 5px;
}

.task {
    width: 600px;
    font-size: 17px;
}

.date {
    display: flex;
    justify-content: center;
    column-gap: 3px;
} 

.icone {
    font-size: 20px;
    cursor: pointer;
}

.delete {
    margin-left: 10px;
    color: red;
}

.edit {
    color: rgb(100, 150, 200);
}

.rowEdit {
    text-align: center;
}